default: &default
  adapter: postgresql
  encoding: unicode
  username: rails
  pool: 5

development:
  <<: *default
  database: stock_cmd_development

test:
  <<: *default
  database: stock_cmd_test<%= ENV["TEST_ENV_NUMBER"] %>
